/* Основные стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Контейнер для основного контента */
.container {
    width: 50%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

/* Заголовок */
h1 {
    text-align: center;
}

/* Стили для формы добавления задачи */
form {
    display: flex;
    justify-content: center;
}

/* Стили для поля ввода задачи */
input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Стили для кнопки добавления задачи */
button {
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

/* Стили для списка задач */
ul {
    list-style-type: none;
    padding: 0;
}

/* Стили для элементов списка задач */
li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


